body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.main {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
}

.header{
    margin-bottom: 25px;
    text-align: center;
}

.header__logo{
    margin-top: 170px;
}

.header-description{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #798285;
    padding: 0 200px;
    margin-top: 50px;
    margin-bottom: 160px;
}

.content{
    max-width: 1230px;
}

.albums{
    list-style-type: none;
    padding: 0;
}

.albums__item{
    display: flex;
}

.item__base-info{
    width: 45%;
    margin-right: 25px;
}

.base-info__year{
    color: #595959;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    border-bottom: solid #000000 1px;
    padding-bottom: 10px;
    width: 100%;
}


.base-info__name{
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;

}

.details__header{
    font-weight: normal;
    font-size: 23px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.item__details{
    margin: 0 0 110px 0;
    width: 55%;
}

.details__description{
    font-size: 14px;
    line-height: 24px;
    color: #acacac;
}

.details__button{
    margin-top: 45px;
}

.button{
    width: 200px;
    height: 60px;
    background: #000000;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.discography__footer{
    width: 100%;
    max-width: 2000px;
    margin-top: -230px;
    height: 707px;
    background-image: url("../src/images/mountain.png");
}

.discography__footer-img{
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 750px){
    .content{
        width: calc(100% - 100px);
        margin: 0 50px;

    }
    .header{
        margin-bottom: 100px;
    }

    .albums__item{
        flex-direction: column;
    }

    .details__description{
        margin-bottom: 45px;
    }

    .item__base-info{
        width: 100%;
        margin: 0;
    }

    .item__details{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .details__button{
        justify-content:center;
        align-self:center;
        margin-top: 45px;
        margin-bottom: 100px;
    }
}
