body {
    margin: 0;
}

.main {
    margin: 50px 0 0 50px;
    font-family: Roboto;
}

.title {
    display: inline-block;
    margin: 0;
    padding: 10px 35px;
    background-color: #e8c734;
    font-size: 23px;
    color: #1a1a1a;
}

.skill-list{
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
}

.skill-list:first-child{
    margin-top: 0;
}

.skill{
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0 0 20px 0;
}

.skill-label{
    padding-bottom: 10px;
}

.skill__item {
    text-decoration: none;
    border: 1px #bfc0c1 solid;
    height: 15px;
    width: 300px;
    position: relative;
    color: #1a1a1a;
}

.skill__item:after{
    background: #bfc0c1;
    content: "";
    position: absolute;
    height: 15px;
    width: 200px;
}

.ul__p-long:after{
    width: 250px;
}
