<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="main">
    <h3 class="title">Skills</h3>
    <ul class="skill-list">
        <li class="skill">
            <div class="skill-label">Communication</div>
            <div class="skill__item "> </div>
        </li>
        <li class="skill">
            <div class="skill-label">Creativity</div>
            <div class="skill__item ul__p-long"> </div>
        </li>
        <li class="skill">
            <div class="skill-label">Teamwork</div>
            <div class="skill__item"> </div>
        </li>
        <li class="skill">
            <div class="skill-label">Organization</div>
            <div class="skill__item ul__p-long"> </div>
        </li>
        <li class="skill">
            <div class="skill-label">Leadership</div>
            <div class="skill__item"> </div>
        </li>
        <li class="skill">
            <div class="skill-label">Teamplayer</div>
            <div class="skill__item ul__p-long"> </div>
        </li>
    </ul>
</div>
</body>
</html>