<header class="header">
    <div class="header__menu-wrapper">
        <img height="23px" width="150px" src="./images/logo.png"/>
        <ul class="header__menu">
            <li class="menu__item">
                <a class="menu__link" href="#">LIFESTYLE</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">PHOTODIARY</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">MUSIC</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">TRAVEL</a>
            </li>
        </ul>
    </div>
    <img class="header__img" height="675px" width="1062px" src="./images/image.png"/>
</header>