<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshop4</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
{{> header/header }}

{{> sidebar/sidebar }}

{{> @partial-block }}

{{> footer/footer }}
</body>
</html>